.table {
    text-align: left;
    font-size: 12px;
    background-color: white;
}

.flex {
    display: flex;
    align-items: center;
}

.flex > img {
    margin-left: 12px;
}

.name {
    color: #696B8B;
    font-weight: 800;
    margin-left: 10px
}

td {
    padding: 10px 12px;
}

.user-img {
    width: 48px;
    height: 48px;
    border: 1px solid #bdbdbd;
    border-radius: 24px;
}


.main-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
}

td:first-child {
    border-left-style: solid;
    border-top-left-radius: 8px; 
    border-bottom-left-radius: 8px;
    /* border-color: #bdbdbd; */
    border-width: 8px;
}
td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 12px; 
    border-top-right-radius: 12px; 
    border-color: transparent;
}

.user-txt {
    font-size: 20px;
    margin: 0;
}

.userDetails-btn {
    color: aliceblue;
    border: none;
    /* width: 40%; */
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: green;
    cursor: pointer;
}

.thead-1 {
    background-color: #E8EBF0;
    font-size: 14px;
    color: #949DAE;
}

.table-tr {
    text-align: left;
    /* background-color: white; */
}

.table-th {
    padding: 10px
}

.user-header {
    background-color: #F3F5F8;
    display: grid;
    grid-template-columns: auto 100px;
}

.user-container {
    background-color: #F3F5F8;
    padding: 40px;
}

.table-td {
    color: #949DAE;
}

.table-td1 {
    color: #696B8B;
    font-weight: bold;
    cursor: pointer;
}

.userDetails-container {
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    width: 100vw;
    height: 100vh;
    left: 0;
    overflow: hidden;
}

.userDetails-bg {
    background-color: white;
    width: 35%;
    position: absolute;
    height: 100vh;
    overflow: auto;
    right: 0;
    border-radius: 20px 0 0 0;
    padding: 20px;
}

.userDetails-h1 {
    margin: 0;
    font-size: 18px;
    font-weight: 300;
}

.userDetails-p1 {
    font-weight: 600;
    margin: 0;
    font-size: 16px;
}

.userDetails-p2 {
    margin: 0 0 8px 0;
    font-size: 13px;
    font-weight: lighter;
}

.userDetails-content {
    display: grid;
    gap: 20px;
    grid-template-columns: 70px auto;
    align-items: center;
    margin: 20px 0 40px 0;
}

.userDetails-img1 {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 100%;
}

.para-userDetails {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}

.userDetails-name {
    margin: 0 0 10px;
    font-size: 13px;
    font-weight: lighter;
}

.userDetails-span {
    position: absolute;
    top: 22px;
    right: 50px;
    cursor: pointer;
}

.add-btn {
    border-radius: 5px;
    height: 31px;
    border: 1px solid;
    color: blue;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    width: 200px;
    padding: 7px;
    border-radius: 5px;
}

.user-input {
    height: 20px;
    /* border-radius: 8px; */
    border: none;
    outline: none;
    background-color: transparent;
}

.header-search {
    display:flex;
    align-items: center;
    gap: 20px;
}

.filter {
    display: flex;
    align-items: center;
    gap: 8px;
}

.para-userDetailsEmail {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}

.userDetails-Email {
    margin: 0 0 10px;
    font-size: 13px;
    font-weight: lighter;
}