.layout-container {
    display: grid;
    grid-template-columns: auto auto;
}


.left-screen {
    background-image: url("../../../public/login\ screen\ image.PNG");
    width: 50vw;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.right-screen {
    width: 50vw;
    align-self: center;
}

.login-btn {
    color: aliceblue;
    border: none;
    /* width: 40%; */
    min-width: 100%;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    background-color: blue;
    cursor: pointer;
}

.logo1 {
    display: grid;
    width: fit-content;
    /* justify-self: center; */
    margin: auto;
}

.para1 {
    text-align: center;
    font-size: 20px;
    color: blueviolet;
}

.para2 {
    text-align: center;
}

.login-form {
    display: grid;
    justify-content: center;
}

.inputField {
    display: grid;
    justify-content: flex-start;
    /* gap: 15px */
    margin-bottom: 16px;
}

.error {
    margin: 0;
}

.login-input {
    height: 25px;
    padding: 5px;
    min-width: 230px;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
}